.basic-button {
    font-size: 76px;
    -unity-font-definition: url("project://database/Assets/Fonts/Jersey10-Regular.ttf?fileID=12800000&guid=bb3b3302e4839f4498ed266c08827d3c&type=3#Jersey10-Regular");
    background-image: url("project://database/Assets/Textures/UI%20Button.png?fileID=2800000&guid=85ba4450de342f74d9b9a33d7dec4181&type=3#UI Button");
    -unity-background-scale-mode: scale-to-fit;
    background-color: rgba(0, 0, 0, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    height: 128px;
}

.basic-button:hover {
    font-size: 76px;
    -unity-font-definition: url("project://database/Assets/Fonts/Jersey10-Regular.ttf?fileID=12800000&guid=bb3b3302e4839f4498ed266c08827d3c&type=3#Jersey10-Regular");
    background-image: url("project://database/Assets/Textures/UI%20Button.png?fileID=2800000&guid=85ba4450de342f74d9b9a33d7dec4181&type=3#UI Button");
    -unity-background-scale-mode: scale-to-fit;
    background-color: rgba(0, 0, 0, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    height: 128px;
    -unity-background-image-tint-color: rgb(229, 229, 229);
}

.basic-button:active {
    font-size: 76px;
    -unity-font-definition: url("project://database/Assets/Fonts/Jersey10-Regular.ttf?fileID=12800000&guid=bb3b3302e4839f4498ed266c08827d3c&type=3#Jersey10-Regular");
    background-image: url("project://database/Assets/Textures/UI%20Button.png?fileID=2800000&guid=85ba4450de342f74d9b9a33d7dec4181&type=3#UI Button");
    -unity-background-scale-mode: scale-to-fit;
    background-color: rgba(0, 0, 0, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    height: 128px;
    -unity-background-image-tint-color: rgb(255, 209, 177);
}
